
# 排除.idea 同时保留.idea/runconfiguration
/.idea/libraries
/.idea/inspectionProfiles

/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/uiDesigner.xml

# 排除编译后的文件
/*/target/



